In [4]:
import numpy as np
import pandas as pd

Q1. Pandas version

In [5]:
pd.__version__

'2.3.2'

In [6]:
car_fuel_df = pd.read_csv("car_fuel_efficiency.csv")
car_fuel_df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [7]:
car_fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [8]:
car_fuel_df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

# Q2. Records count
How many records are in the dataset?

In [9]:
car_fuel_df.shape[0]

9704

# Q3. Fuel types
How many fuel types are presented in the dataset?

In [ ]:
car_fuel_df[['fuel_type']].value_counts()

In [14]:
car_fuel_df[['fuel_type']].nunique()

fuel_type    2
dtype: int64

# Q4. Missing values
How many columns in the dataset have missing values?

In [17]:
car_fuel_df.loc[:, car_fuel_df.isna().sum().gt(0)].columns

Index(['num_cylinders', 'horsepower', 'acceleration', 'num_doors'], dtype='object')

In [18]:
(car_fuel_df.isna().sum().gt(0)).sum()

np.int64(4)

# Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [30]:
car_fuel_df.loc[car_fuel_df["origin"]=="Asia", ["fuel_efficiency_mpg"]].max()

fuel_efficiency_mpg    23.759123
dtype: float64

# Q6. Median value of horsepower
- Find the median value of horsepower column in the dataset.
- Next, calculate the most frequent value of the same horsepower column.
- Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
- Now, calculate the median value of horsepower once again.

In [34]:
# Compute median and mode before filling
hp_median_before = car_fuel_df["horsepower"].median()
hp_mode = car_fuel_df["horsepower"].mode()[0]

print(f"Median horsepower before filling: {hp_median_before:.1f}")
print(f"Mode horsepower: {hp_mode:.1f}")

# Fill missing values (safe way: assign back to column)
car_fuel_df["horsepower"] = car_fuel_df["horsepower"].fillna(hp_mode)

# Compute median after filling
hp_median_after = car_fuel_df["horsepower"].median()
print(f"Median horsepower after filling: {hp_median_after:.1f}")

Median horsepower before filling: 152.0
Mode horsepower: 152.0
Median horsepower after filling: 152.0

# Q7. Sum of weights
- Select all the cars from Asia
- Select only columns vehicle_weight and model_year
- Select the first 7 values
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the sum of all the elements of the result?

In [38]:
# Select all the cars from Asia
car_fuel_df.loc[car_fuel_df["origin"]=="Asia"]

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [39]:
# Select only columns vehicle_weight and model_year
car_fuel_df.loc[car_fuel_df["origin"]=="Asia", ["vehicle_weight", "model_year"]]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [40]:
# Select the first 7 values
car_fuel_df.loc[car_fuel_df["origin"]=="Asia", ["vehicle_weight", "model_year"]].head(7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [41]:
#Get the underlying NumPy array. Let's call it X.
X = car_fuel_df.loc[car_fuel_df["origin"]=="Asia", ["vehicle_weight", "model_year"]].head(7).values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [42]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = np.matmul(X.T,X)
XTX

array([[62248334.33150761, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [43]:
# Invert XTX.
XTX_inv = np.linalg.inv(XTX)

In [ ]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [ ]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
XTX_inv = XTX_inv @ X.T


w = np.matmul(XTX_inv, y)

In [ ]:
# What's the sum of all the elements of the result?
w.sum()

np.float64(0.5187709081074006)